<nz-select [(ngModel)]="currentValue" class="form-input fullWidth">
  <nz-option [nzValue]="2013" nzLabel="2013"></nz-option>
  <nz-option [nzValue]="2014" nzLabel="2014"></nz-option>
  <nz-option [nzValue]="2015" nzLabel="2015"></nz-option>
  <nz-option [nzValue]="2016" nzLabel="2016"></nz-option>
  <nz-option [nzValue]="2017" nzLabel="2017"></nz-option>
  <nz-option [nzValue]="2018" nzLabel="2018"></nz-option>
  <nz-option [nzValue]="2019" nzLabel="2019"></nz-option>
  <nz-option [nzValue]="2020" nzLabel="2020"></nz-option>
  <nz-option [nzValue]="2021" nzLabel="2021"></nz-option>
  <nz-option [nzValue]="2022" nzLabel="2022"></nz-option>
  <nz-option [nzValue]="2023" nzLabel="2023"></nz-option>
  <nz-option [nzValue]="2024" nzLabel="2024"></nz-option>
  <nz-option [nzValue]="2025" nzLabel="2025"></nz-option>
  <nz-option [nzValue]="2026" nzLabel="2026"></nz-option>
</nz-select>
