
<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="3" >
       <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onAdd()" >添加</a>
  </div>
</div>


<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTablearticle
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="articleArray"
      [nzTotal]="total"
      [(nzPageIndex)]="teacherarticlesvr.queryParams.pageNo"
      [(nzPageSize)]="teacherarticlesvr.queryParams.pageSize"
      (nzPageIndexChange)="onPageChange($event)"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>创作时间</th>
        <th>创作老师</th>
        <th>发布到习惯数</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTablearticle.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.articleTitle}}</td>
        <td>{{data.makeDate | date : 'yyyy-MM-dd'}}</td>
        <td>{{data.teacherName}}</td>
        <td>{{data.habitNum}}</td>
        <td>
          <a href="javaScript:;" *ngIf="data.teacherId === loginUser.teacher.teacherId && !data.published" (click)="onEdit(data)" title="修改文章">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="data.teacherId === loginUser.teacher.teacherId" (click)="onPublish(data)" title="发布该文章，发布后，该文章将不能修改及删除">发布</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="data.teacherId === loginUser.teacher.teacherId && !data.published" (click)="onDelete(data)" title="删除该文章">>删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<app-habit-choose [habitChooseSign$]="habitChooseSign$" (onHabitChoosed)="onHabitChoose($event)"></app-habit-choose>

