
<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="12" >
    <nz-radio-group [(ngModel)]="choosedGrade" (ngModelChange)="onChooseGrade()" style="float: left" >
      <label nz-radio-button [nzValue]="1"  *ngIf="allGrades.indexOf(1) !==-1">一年级</label>
      <label nz-radio-button [nzValue]="2"  *ngIf="allGrades.indexOf(2) !==-1">二年级</label>
      <label nz-radio-button [nzValue]="3"  *ngIf="allGrades.indexOf(3) !==-1">三年级</label>
      <label nz-radio-button [nzValue]="4" *ngIf="loginUser.school.schoolStyle===1 &&  allGrades.indexOf(4) !==-1 ">四年级</label>
      <label nz-radio-button [nzValue]="5" *ngIf="loginUser.school.schoolStyle===1 &&  allGrades.indexOf(5) !==-1  ">五年级</label>
      <label nz-radio-button [nzValue]="6" *ngIf="loginUser.school.schoolStyle===1 &&  allGrades.indexOf(6) !==-1 ">六年级</label>
    </nz-radio-group>
  </div>
  <div nz-col [nzSpan]="8" >
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onAdd()" >添加</a>
    <a [href]="downloadTemplateExcel" class="ant-btn ant-btn-primary m-l-xs"  >模板下载</a>
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs"  (click)="exportExcel()" >导出</a>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-upload [nzAction]="uploadExcelpath+'?schoolId=' + loginUser.school.schoolId"  [nzShowUploadList]="false" (nzChange)="handleExcelChange($event)"
    >
      <button nz-button><i nz-icon type="upload"></i><span>excel导入</span></button>
    </nz-upload>
  </div>
</div>

<nz-tabset
  style="height:30px; "
>
  <nz-tab
    *ngFor="let cla of gradeChoosedClasses"
    [nzTitle]=" (loginUser.school.schoolStyle===1 ? commonsvr.calculateSchoolYearPrimarySchool(cla.grade) :
    commonsvr.calculateSchoolYearMiddleSchool(cla.grade))
    +'年级' +  cla.classes +'班'"
    style=" overflow-y: scroll"
    (nzSelect)="onSelectClasses(cla.classesId)"
  >

  </nz-tab>
</nz-tabset>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="6" *ngFor="let clteacher of currentChoosedClasses.teachers ">
    <nz-form-item>
      <nz-form-label [nzSpan]="12"> {{clteacher.studySubjectName +'课老师'}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input [(ngModel)]="clteacher.teacherName" [readonly]="true" (click)="toChooseTeacher(clteacher.studySubjectId)" >
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="true"
      [nzData]="currentChoosedClasses.students"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>学号</th>
        <th>身份证</th>
        <th>名称</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>联系电话</th>
        <th>家庭住址</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.studentId}}</td>
        <td >{{data.studentPaperId}}</td>
        <td>{{data.studentName}}</td>
        <td>{{ data.sex === 1 ? '男' : '女'}}</td>
        <td>{{ data.birthday | date : 'yyyy-MM-dd'}}</td>
        <td>{{ data.tel}}</td>
        <td>{{ data.address}}</td>
        <td>
          <a href="javaScript:;"  (click)="onEdit(data)" title="修改学生信息">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;"  (click)="onQuitDuty(data)" title="学生转学，休学等">转学</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;"  (click)="onDelete(data)" title="学生录入信息错误，删除信息">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<app-teacher-choose [teacherChooseSign$]="teacherChooseSign$" (onTeacherChoosed)="choosedStudySubjectTeacher($event)"></app-teacher-choose>
<app-win-student [classStudentWinOrder$]="classStudentWinOrder$" (onStudentSaved)="onSaveSingleStudent($event)"></app-win-student>

<nz-modal [(nzVisible)]="isStudentExcelImpModalShow"
          [nzTitle]="'导入学生'"
          [nzCancelText]="'关闭'"
          (nzOnCancel)="isStudentExcelImpModalShow=false"
          [nzOkText]="'确定导入'"
          (nzOnOk)="onToImportStudent()"
          [nzMaskClosable]="false"
          [nzWidth]="800"
>
  <nz-table
    #ajaxTableimpStudent
    nzBordered
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="prepareImportStudents"
  >
    <thead >
    <tr>
      <th>序号</th>
      <th>学号</th>
      <th>姓名</th>
      <th>身份证</th>
      <th>出生日期</th>
      <th>性别</th>
      <th>联系电话</th>
      <th>家庭住址</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTableimpStudent.data ;let no=index">
      <td>{{no+1}}</td>
      <td>{{data.studentId}}</td>
      <td>{{data.studentName}}</td>
      <td>{{data.studentPaperId}}</td>
      <td>{{data.birthday}}</td>
      <td>{{data.sex=== 1 ? '男' :'女'}}</td>
      <td>{{data.tel}}</td>
      <td>{{data.address}}</td>
    </tr>
    </tbody>
  </nz-table>

</nz-modal>



