

<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onAdd()">新增加</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="studySubjectArray"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>大类</th>
        <th>小类</th>
        <th>学科编号</th>
        <th>学科名称</th>
        <th>小学课程</th>
        <th>初中课程</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td >
            {{data.habitClassName}}
        </td>
        <td >
          {{data.subHabitClassName}}
        </td>
        <td>{{data.studySubjectId}}</td>
        <td>{{data.studySubjectName}}</td>
        <td>{{data.primarySchool ? '是': '否'}}</td>
        <td>{{data.middleSchool ? '是' : '否'}}</td>
        <td>
          <a href="javaScript:;" *ngIf="user.isSupperAdmin " (click)="onEdit(data)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="user.isSupperAdmin" (click)="onDelete(data)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isStudySubjectModalShow"
          [nzTitle]="'科目'"
          [nzCancelText]="'关闭'"
          (nzOnCancel)="isStudySubjectModalShow=false"
          [nzOkText]="'保存'"
          (nzOnOk)="onSave()"
          [nzMaskClosable]="false"
          [nzWidth]="600"
>

  <div nz-row>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">编号</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <input nz-input [(ngModel)]="currentStudySubject.studySubjectId"  [readonly]="true" placeholder="系统生成" >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">名称</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <input nz-input [(ngModel)]="currentStudySubject.studySubjectName" >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">大类</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzOffset]="4">
          <app-habit-class-select [(ngModel)]="currentStudySubject.habitClassId"  [defaultShow]="'请选择'"></app-habit-class-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">类别</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <app-subhabit-class-select [(ngModel)]="currentStudySubject.subHabitClassId" [defaultShow]="'请选择'" [pareHabitClassId]="currentStudySubject.habitClassId"></app-subhabit-class-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6"></nz-form-label>
        <nz-form-control [nzSpan]="17">
          <label nz-checkbox [(ngModel)]="currentStudySubject.primarySchool">小学课程</label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="8"></nz-form-label>
        <nz-form-control [nzSpan]="12" [nzOffset]="4">
          <label nz-checkbox [(ngModel)]="currentStudySubject.middleSchool">初中课程</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-modal>
