

<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onAdd()">新增加</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="studySubjectArray"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>习惯大类</th>
        <th>学科编号</th>
        <th>学科名称</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td [ngSwitch]="data.habitClass">
          <b *ngSwitchCase="1" > 德</b>
          <b *ngSwitchCase="2" > 智</b>
          <b *ngSwitchCase="3" > 体</b>
          <b *ngSwitchCase="4" > 美</b>
          <b *ngSwitchCase="5" > 劳</b>
          <b *ngSwitchDefault> 劳</b>
        </td>
        <td>{{data.studySubjectId}}</td>
        <td>{{data.studySubjectName}}</td>

        <td>
          <a href="javaScript:;" *ngIf="user.supperAdmin " (click)="onEdit(data)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="user.supperAdmin" (click)="onDelete(data)">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isStudySubjectModalShow"
          [nzTitle]="'科目'"
          [nzCancelText]="'关闭'"
          (nzOnCancel)="isStudySubjectModalShow=false"
          [nzOkText]="'保存'"
          (nzOnOk)="onSave()"
          [nzMaskClosable]="false"
          [nzWidth]="500"
>

  <div nz-row>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">编号</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <input nz-input [(ngModel)]="currentStudySubject.studySubjectId"  >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">名称</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <input nz-input [(ngModel)]="currentStudySubject.studySubjectName" >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">习惯大类</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzOffset]="4">
          <app-habit-class-select [(ngModel)]="currentStudySubject.habitClass" ></app-habit-class-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-modal>
