<div [innerHtml]="aa" *ngIf="false">

</div>
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">身份证号</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.teacherId">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">姓名</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.teacherName">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>


<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="3" [nzOffset]="6" >
       <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
  </div>
  <div nz-col [nzSpan]="3" >
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onAdd()" >添加</a>
  </div>
  <div nz-col [nzSpan]="3" >
    <a [href]="downloadTemplateExcel" class="ant-btn ant-btn-primary m-l-xs"  >excel导出模板下载</a>
  </div>
  <div nz-col [nzSpan]="3">
    <nz-upload [nzAction]="uploadExcelpath"  [nzShowUploadList]="false" (nzChange)="handleExcelChange($event)"
    >
      <button nz-button><i nz-icon type="upload"></i><span>excel导入</span></button>
    </nz-upload>
  </div>
  <div nz-col [nzSpan]="3" >
    <a  class="ant-btn ant-btn-primary m-l-xs"  (click)="" >导出</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTabletl
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="teacherList"
      [nzTotal]="total"
      [(nzPageIndex)]="queryParams.pageNo"
      [(nzPageSize)]="queryParams.pageSize"
      (nzPageIndexChange)="onPageChange($event)"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>身份证</th>
        <th>姓名</th>
        <th>当前职务</th>
        <th>联系电话</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTabletl.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.teacherPaperId}}</td>
        <td>{{data.teacherName}}</td>
        <td>{{data.teacherDutyName}}</td>
        <td>{{data.tel}}</td>
        <td>
          <a href="javaScript:;" *ngIf="loginUser.isSchoolAdmin" (click)="onEdit(data)" title="修改教师信息">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="loginUser.isSchoolAdmin" (click)="onQuitDuty(data)" title="教师调走，辞职等">离职</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="loginUser.isSchoolAdmin" (click)="onDelete(data)" title="教师录入信息错误，删除信息">删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-modal [(nzVisible)]="isTeacherExcelImpModalShow"
          [nzTitle]="'导入教师'"
          [nzCancelText]="'关闭'"
          (nzOnCancel)="isTeacherExcelImpModalShow=false"
          [nzOkText]="'确定导入'"
          (nzOnOk)="onToImportTeachers()"
          [nzMaskClosable]="false"
          [nzWidth]="800"
>
  <nz-table
    #ajaxTable
    nzBordered
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="prepareImportTeachers"
  >
    <thead >
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>身份证</th>
      <th>当前职务</th>
      <th>联系电话</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data ;let no=index">
      <td>{{no+1}}</td>
      <td>{{data.teacherName}}</td>
      <td>{{data.teacherPaperId}}</td>
      <td><app-teacherduty-select [(ngModel)]="data.teacherDutyId" [defaultShow]="'请选择'"></app-teacherduty-select></td>
      <td>{{data.tel}}</td>
      <td>
          <a href="javaScript:;" *ngIf="loginUser.isSchoolAdmin" (click)="onEdit(data)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javaScript:;" *ngIf="loginUser.isSchoolAdmin" (click)="onDelete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</nz-modal>

<app-win-teacher  [teacherWinOrder$]="teacherWinOrder$" (onTeacherSaved)="onTeacherSaved($event)"></app-win-teacher>

