
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">课程标题</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input  nz-input [(ngModel)]="teacherlessonsvr.queryParams.lessonTitle">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
  <div class="m-t-sm text-center" nz-row>
    <div nz-col [nzSpan]="3" >
      <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onAdd()" >添加</a>
    </div>
  </div>


  <div class="m-t-sm" nz-row>
    <div nz-col [nzSpan]="24">
      <nz-table
        #ajaxTablelesson
        nzBordered
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="lessonArray"
        [nzTotal]="total"
        [(nzPageIndex)]="teacherlessonsvr.queryParams.pageNo"
        [(nzPageSize)]="teacherlessonsvr.queryParams.pageSize"
        (nzPageIndexChange)="onPageChange($event)"
      >
        <thead >
        <tr>
          <th>序号</th>
          <th>课程标题</th>
          <th>创作时间</th>
          <th>创作老师</th>
          <th>果度币购买</th>
          <th>发布到圈子</th>
          <th>发布到习惯</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ajaxTablelesson.data ;let no=index">
          <td>{{no+1}}</td>
          <td>{{data.lessonTitle}}</td>
          <td>{{data.makeTime | date  :'yyyy-mm-dd'}}</td>
          <td>{{data.makeTeacherName}}</td>
          <td>{{data.guoduCoin}}</td>
          <td>{{data.circleTitle}}</td>
          <td>{{data.habitName}}</td>
          <td>
            <a href="javaScript:;" *ngIf="data.makeTeacherId === loginUser.teacher.teacherId && data.publishTime === null" (click)="onEdit(data)" title="修改课程">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="javaScript:;" *ngIf="data.makeTeacherId === loginUser.teacher.teacherId" (click)="onPublish(data)" title="发布该课程，发布后，该课程将不能修改及删除">发布</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="javaScript:;" *ngIf="data.makeTeacherId === loginUser.teacher.teacherId && data.publishTime === null " (click)="onDelete(data)" title="删除该课程">>删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

<app-habit-choose [habitChooseSign$]="habitChooseSign$" (onHabitChoosed)="onHabitChoose($event)"></app-habit-choose>
