
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">通知内容</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.noticeContent">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>


<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
    <a class="ant-btn ant-btn-primary m-l-xs"  (click)="onAdd()" >添加</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="teacherNoticeList"
      [nzTotal]="total"
      [(nzPageIndex)]="queryParams.pageNo"
      [(nzPageSize)]="queryParams.pageSize"
      (nzPageIndexChange)="onPageChange()"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>编号</th>
        <th>圈子</th>
        <th>内容</th>
        <th>发布时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.teacherNoticeId}}</td>
        <td>{{data.sendCircleTitles}}</td>
        <td>{{data.memo}}</td>
        <td>{{data.buildDate}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-modal [(nzVisible)]="isNoticeModalShow"
          [nzTitle]="'通知通告'"
          [nzCancelText]="'关闭'"
          (nzOnCancel)="isNoticeModalShow=false"
          [nzOkText]="'发送'"
          (nzOnOk)="onSend()"
          [nzMaskClosable]="false"
          [nzWidth]="600"
>

  <div nz-row>

    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">发送圈子</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <nz-select [(ngModel)]="currentNotice.sendCircleIds" class="form-input fullWidth">
            <nz-option [nzValue]="item.circleId" [nzLabel]="item.circleTitle" *ngFor="let item of teacherJoinedCircleList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">通知内容</nz-form-label>
        <nz-form-control [nzSpan]="20">
           <textarea [(ngModel)]="currentNotice.memo" style="width: 100%;height:200px"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-modal>

