<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="4" >
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onSave()" >保存</a>
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs" (click)="onBack()" >返回</a>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">班级</nz-form-label>
      <nz-form-control [nzSpan]="18">
       <app-grade-class-select [schoolStyle]="loginUser.school.schoolStyle" [classesArray]="examsvr.teacherTeachedClasses"
                               [(ngModel)]="examsvr.currentExam.classesId" (classesSelectChange)="onClassesChange()" ></app-grade-class-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">学科</nz-form-label>
      <nz-form-control [nzSpan]="18">
          <app-study-subject-select [defaultShow]="'--请选择--'" [(ngModel)]="examsvr.currentExam.studySubjectId"
                                    (onValueChanged)="studySubjectChange()" ></app-study-subject-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">年级</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-input-number [(ngModel)]="examsvr.currentExam.iyear" [nzMin]="1" [nzMax]="
           loginUser.school.schoolStyle===1 ? commonsvr.calculateSchoolYearPrimarySchoolNo(examsvr.currentExam.grade) :
                                                commonsvr.calculateSchoolYearMiddleSchoolNo(examsvr.currentExam.grade)
                                            " [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">学期</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select [(ngModel)]="examsvr.currentExam.term" >
            <nz-option [nzValue]="'up'" [nzLabel]="'上学期'"></nz-option>
            <nz-option [nzValue]="'down'" [nzLabel]="'下学期'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="10">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">考试名称</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input [(ngModel)]="examsvr.currentExam.examName">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">考试类型</nz-form-label>
      <nz-form-control [nzSpan]="18">
       <app-exam-kind-select [defaultShow]="'--请选择--'" [(ngModel)]="examsvr.currentExam.examKindId"></app-exam-kind-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">满分</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-input-number [(ngModel)]="examsvr.currentExam.totalScore" [nzMin]="0"  [nzStep]="1" ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="4">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">考试时间</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-date-picker [(ngModel)]="examsvr.currentExam.examTime" ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzSpan]="24" >
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control [nzSpan]="6" >

        </nz-form-control>
        <nz-form-control [nzSpan]="9" >
           满分
        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          题数
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control [nzSpan]="6" >

        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          满分
        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          题数
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control [nzSpan]="6" >

        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          满分
        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          题数
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-col [nzSpan]="24">
    <div nz-col [nzSpan]="8" *ngFor="let item of setScoreSubject">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">{{item.subjectExamClassNameName}}({{item.defficulty===1 ? '容易':(item.defficulty===2 ? '中等' :'困难')}})</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-input-number [(ngModel)]="item.score" [nzMin]="0"  [nzStep]="1" (ngModelChange)="onChangeScorceSubjects()"></nz-input-number>
        </nz-form-control>
        <nz-form-control [nzSpan]="9">
          <nz-input-number [(ngModel)]="item.subjects" [nzMin]="0"  [nzStep]="1" (ngModelChange)="onChangeScorceSubjects()"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</div>

<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable_subexam
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="examsvr.currentExam.subExams"
    >
      <thead >
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>题型</th>
        <th>难易度</th>
        <th>满分</th>
        <th>得分</th>
        <th>总题数</th>
        <th>答对数</th>
        <th>部分答对数</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable_subexam.data ">
        <td *ngIf="data.studentIdShow" [attr.rowspan]="rowSpan">{{data.studentId}}</td>
        <td *ngIf="data.studentNameShow" [attr.rowspan]="rowSpan">{{data.studentName}}</td>
        <td *ngIf="data.subjectExamClassNameshow" [attr.rowspan]="3">{{data.subjectExamClassName}}</td>
        <td>{{ data.defficulty=== 1 ? '容易' : ( data.defficulty === 2 ? '普通' :'困难')}}</td>
        <td>   {{ data.score }}  </td>
        <td><nz-input-number
          [(ngModel)]="data.getScore"
          [nzMin]="0"
          [nzMax]="data.score"
          [nzStep]="0.5"
          [nzPlaceHolder]="'填写得分'"
        ></nz-input-number></td>
        <td>   {{ data.subjects }}  </td>
        <td><nz-input-number
          [(ngModel)]="data.rightSubjects"
          [nzMin]="0"
          [nzMax]="data.subjects"
          [nzStep]="1"
          [nzPlaceHolder]="'填写答对数'"
        ></nz-input-number></td>
        <td><nz-input-number
          [(ngModel)]="data.partSubjects"
          [nzMin]="0"
          [nzMax]="data.subjects-data.rightSubjects"
          [nzStep]="1"
          [nzPlaceHolder]="'部分答对数'"
        ></nz-input-number></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
